html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-image: linear-gradient(to bottom, #ff9500, #ff5e3a);
  font-family: Overpass, sans-serif;
  line-height: 1.5;
  color: #fff;
  font-weight: normal;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  margin-top: 0;
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
  margin: 1rem 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

section {
  margin: 1.1rem .7rem;
}

a {
  border: .2rem solid #fff;
  color: #fff;
  text-decoration: none;
  padding: 1rem;
  margin-top: .4rem;
}

a:hover {
  background-color: #000;
  color: #fff;
}

svg {
  width: 8rem;
  height: 8rem;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: .7rem;
}

.icon {
  fill: currentColor;
}

.icon #icon {
  fill: #ff9500;
}

@media only screen and (min-width: 38em) {

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5.6vmin;
  }

  h2 {
    text-align: center;
    margin-top: 2.2rem;
    margin-bottom: 1.5rem;
  }

  p {
    flex-grow: 1;
    font-weight: normal;
  }

  section {
    margin: 1.1rem 1.2rem;
  }

  a {
    margin: 0;
  }

  li {
    padding: .8rem;
    margin: 0;
  }

}
